.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.date {
  font-size: 1.1rem;
  color: #777;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.content {
  font-size: 1.1rem;
  line-height: 1.6;
  white-space: pre-wrap;
}
